body {
    background: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;
}

#Logo {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

.ChoosePage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3353553;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 30px;
}

#ShowLoginPage, #ShowNewUserPage {
    padding: 20px 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    height: 100%;
}

#ShowLoginPage:hover, #ShowNewUserPage:hover {
    background-color: #B43737;
    color: white;
}

#LoginForm, #NewUserForm {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: none; 

/* Inputfields */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    color: #555;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #B43737;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #B43737;
}

#LoginForm.active,
#NewUserForm.active {
    display: block;
}
